@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
    background-color: #FFFEFE;
    font-family: 'Volkhov', Courier, monospace;
}

h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navBar {
    background-color: #FFFEFE;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.navMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    padding-right: 150px;
}

.navMenu li {
    padding: 0px 60px;
    list-style: none;
}

.navMenu a {
    font-family: 'Arimo', Courier, monospace;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: rgb(75, 75, 75);
}

.navMenu a:hover {
    color: coral;
}

.portadaContainer {
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.portadaTexto {
    z-index: 999;
    position: absolute;
}

.portada {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
    filter: blur(2px);
    background-color: rgb(254, 232, 205);
    background-image: url("../img/mar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    margin-left: 80px;
    font-size: 6em;
    color: aliceblue;
    text-shadow: 1px -1px 42px rgb(0, 0, 0);
}

.portadaContainer p {
    margin-left: 80px;
    font-size: 40px;
    color: beige;
}

.persona {
    position: absolute;
    right: 90px;
    bottom: 0px;
}

.fondo {
    height: 110%;
    position: absolute;
    opacity: 75%;
    top: 0px;
    right: 0px;
}
/*-------------*/

.razon {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  color: white;
  text-align: center;
}

.razon::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* oscurece la imagen para mejor contraste */
  z-index: 1;
}

.razon .contenidoSeccion {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
}

.razon h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.razon p {
  font-size: 1.2rem;
  line-height: 1.6;
}

